{% extends "layouts/layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
{% endblock %}

{% block title %}Code Highliter{% endblock %}

{% block content %}
    <div class="row">
        <div class="container" style="padding: 30px;">
            <h3>Подстветка синтаксиса. Введите код в форму ниже:</h3>
            
            <form action="{{ url_for('highlite') }}" method="POST">
                <select class="selectpicker" name="lexer" id="lexers" data-live-search="true">
                    {% for lexer in lexers %}
                        <option value="{{ lexer[0] }}">{{ lexer[0] }}</option>
                    {% endfor %}
                </select>
                <textarea name="code" class="form-control" id="codearea" cols="30" rows="5"></textarea>
                <input class="btn btn-sm btn-info" type="submit" value="Подсветить" style="margin-top: 20px;" />
            </form>
        </div>
    </div>

    <div class="row">
        <div id="pygments" class="container" style="padding: 30px;">
            {% if formatted %}
                {{ formatted|safe }}
            {% endif %}
        </div>
    </div>


{% endblock %}
{% block temp_scripts %}
    <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
{% endblock %}